In [2]:
# Data structures in python 
# tuple,list,dictionary,set

In [3]:
# tuple

In [4]:
tup1 = (1,"a",True)
tup1

(1, 'a', True)

In [5]:
tup1[0]

1

In [8]:
tup1[0:2]

(1, 'a')

In [9]:
# list

In [10]:
l1 = [1,"a",True]
l1

[1, 'a', True]

In [11]:
l1[0]

1

In [12]:
l1[0:2]

[1, 'a']

In [20]:
l1.append('sword')
l1

[1, 'a', True, 'sword', "'sword'", 'sword', 'sword']

In [24]:
l1.pop()
l1

[1, 'a', True]

In [27]:
# dictionary

In [31]:
d1 = {"mango":50,"apple":100,"grapes":75}
d1

{'mango': 50, 'apple': 100, 'grapes': 75}

In [32]:
d1.keys()

dict_keys(['mango', 'apple', 'grapes'])

In [33]:
d1.values()

dict_values([50, 100, 75])

In [43]:
d1["mango"]=125
d1

{'mango': 125, 'apple': 100, 'grapes': 75, 1: 100}

In [40]:
#set

In [41]:
s1 = {1,"a",3.28}
s1

{1, 3.28, 'a'}

In [42]:
s1 = {1,"a",3.28,1,2,3,4,5,"a"}
s1

{1, 2, 3, 3.28, 4, 5, 'a'}

In [44]:
s1.add("hello mama")
s1

{1, 2, 3, 3.28, 4, 5, 'a', 'hello mama'}

In [45]:
s1.update(["hello dad",23,3+2j])

In [46]:
s1

{(3+2j), 1, 2, 23, 3, 3.28, 4, 5, 'a', 'hello dad', 'hello mama'}