# using random forest to prepare a model on fraud dataset
<=30k is risky and others are good

In [1]:
import pandas as pd 
import numpy as np 
from matplotlib import pyplot as plt

In [2]:
fraud = pd.read_csv("Fraud_check.csv")

In [3]:
fraud.head()

  Undergrad MaritalStatus  CityPopulation  WorkExperience Urban  TaxableIncome
0        NO        Single           50047              10   YES          68833
1       YES      Divorced          134075              18   YES          33700
2        NO       Married          160205              30   YES          36925
3       YES        Single          193264              15   YES          50190
4        NO       Married           27533              28    NO          81002

In [4]:
fraud.describe()

       CityPopulation  WorkExperience  TaxableIncome
count      600.000000      600.000000     600.000000
mean    108747.368333       15.558333   55208.375000
std      49850.075134        8.842147   26204.827597
min      25779.000000        0.000000   10003.000000
25%      66966.750000        8.000000   32871.500000
50%     106493.500000       15.000000   55074.500000
75%     150114.250000       24.000000   78611.750000
max     199778.000000       30.000000   99619.000000

In [5]:
fraud.isnull().sum()

Undergrad         0
MaritalStatus     0
CityPopulation    0
WorkExperience    0
Urban             0
TaxableIncome     0
dtype: int64

In [6]:
fraud['TaxableIncome'] = pd.cut(fraud.TaxableIncome,bins=(0,30000,199778),labels=['Risky','Good'])
fraud

,Undergrad,MaritalStatus,CityPopulation,WorkExperience,Urban,TaxableIncome
0,NO,Single,50047,10,YES,Good
1,YES,Divorced,134075,18,YES,Good
2,NO,Married,160205,30,YES,Good
3,YES,Single,193264,15,YES,Good
4,NO,Married,27533,28,NO,Good
...,...,...,...,...,...,...
595,YES,Divorced,39492,7,YES,Good
596,YES,Divorced,55369,2,YES,Good
597,NO,Divorced,154058,0,YES,Good
598,YES,Married,180083,17,NO,Good
599,NO,Divorced,158137,16,NO,Good

In [7]:
x = fraud.iloc[:,:-1]

In [8]:
x

    Undergrad MaritalStatus  CityPopulation  WorkExperience Urban
0          NO        Single           50047              10   YES
1         YES      Divorced          134075              18   YES
2          NO       Married          160205              30   YES
3         YES        Single          193264              15   YES
4          NO       Married           27533              28    NO
..        ...           ...             ...             ...   ...
595       YES      Divorced           39492               7   YES
596       YES      Divorced           55369               2   YES
597        NO      Divorced          154058               0   YES
598       YES       Married          180083              17    NO
599        NO      Divorced          158137              16    NO

[600 rows x 5 columns]

In [9]:
y=fraud.iloc[:,-1]

In [10]:
y

0      Good
1      Good
2      Good
3      Good
4      Good
       ...
595    Good
596    Good
597    Good
598    Good
599    Good
Name: TaxableIncome, Length: 600, dtype: category
Categories (2, object): [Risky < Good]

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
label_encoder_x=LabelEncoder()

In [13]:
x=x.apply(LabelEncoder().fit_transform)

In [14]:
x

     Undergrad  MaritalStatus  CityPopulation  WorkExperience  Urban
0            0              2              84              10      1
1            1              0             398              18      1
2            0              1             481              30      1
3            1              2             574              15      1
4            0              1               4              28      0
..         ...            ...             ...             ...    ...
595          1              0              55               7      1
596          1              0             107               2      1
597          0              0             459               0      1
598          1              1             533              17      0
599          0              0             477              16      0

[600 rows x 5 columns]

In [15]:
from sklearn.ensemble import RandomForestClassifier

In [16]:
rf = RandomForestClassifier(n_jobs=3,oob_score=True,n_estimators=100,criterion="entropy")
rf

RandomForestClassifier(criterion='entropy', n_jobs=3, oob_score=True)

In [17]:
rf.fit(x,y)

RandomForestClassifier(criterion='entropy', n_jobs=3, oob_score=True)

In [18]:
rf.estimators_

[DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2082763692),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1228283692),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1850860525),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1032993780),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=111253013),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=135242472),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1886413982),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=946551601),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1260758753),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=776834004),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=839775009),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1361176993),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=262731216),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1157522665),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1399344305),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=906654180),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=319190323),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=232468084),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=14299353),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=122114900),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1892036145),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1018577284),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1655234699),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=994833426),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=921267570),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=874847733),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1800107116),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1685112795),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=531838852),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=667198349),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1459493493),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1890781857),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1992755297),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=272105252),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1182939371),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1202903883),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1697429345),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=172352659),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1964734024),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=395274917),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1984526846),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=486986968),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=841524530),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=130097345),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=221198643),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=804811434),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=700890371),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=522569725),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2082575967),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=479444089),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1343754815),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2040518776),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1383976141),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=913797161),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1726407139),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1485887573),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=446657421),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=902734278),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=680952337),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1541924969),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=715013259),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=594426047),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1194738546),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1644742127),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=269944662),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=822665265),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=197580076),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=57270712),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2046090785),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=715266719),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=876369942),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=319656089),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=367823503),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1861434472),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=601948876),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1356028679),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1366939588),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=408426730),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1511617839),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1989480025),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=70305216),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1504748337),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1360831805),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1654653443),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=876832755),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=184992370),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1725347505),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=315105783),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=560324829),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1309888110),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=723875342),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1846394149),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1940983552),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=573313625),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=554835707),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1221559571),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=975156387),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=489899858),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=745960967),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=941205155)]

In [19]:
rf.classes_

array(['Good', 'Risky'], dtype=object)

In [20]:
rf.n_classes_

2

In [21]:
rf.n_features_

5

In [22]:
rf.n_outputs_

1

In [23]:
rf.oob_score_

0.7483333333333333

In [25]:
rf.predict(x)

array(['Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky',
       'Good', 'Good', 'Risky', 'Good', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky',
       'Good', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Good',
       'Risky', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky',
       'Good', 'Risky', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Risky', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good',
       'Risky', 'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Risky',
       'Good', 'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Good', 'Good',
       'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Risky', 'Good', 'Risky', 'Good', 'Good',
       'Risky', 'Good', 'Risky', 'Good', 'Risky', 'Risky', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Risky', 'Good', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Risky', 'Risky', 'Good', 'Good', 'Risky', 'Risky',
       'Risky', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Risky', 'Risky', 'Risky', 'Good', 'Good', 'Risky',
       'Good', 'Good', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Risky', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good', 'Risky',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Risky', 'Good',
       'Good', 'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Risky', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Risky', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good', 'Good',
       'Good'], dtype=object)

In [28]:
fraud['rf_pred'] = rf.predict(x)

In [39]:
cols = ['rf_pred','TaxableIncome']
cols

['rf_pred', 'TaxableIncome']

In [40]:
fraud[cols].head()

  rf_pred TaxableIncome
0    Good          Good
1    Good          Good
2    Good          Good
3    Good          Good
4    Good          Good

In [41]:
fraud['TaxableIncome']

0      Good
1      Good
2      Good
3      Good
4      Good
       ...
595    Good
596    Good
597    Good
598    Good
599    Good
Name: TaxableIncome, Length: 600, dtype: category
Categories (2, object): [Risky < Good]

In [44]:
from sklearn.metrics import confusion_matrix
confusion_matrix(fraud['TaxableIncome'],fraud['rf_pred'])

array([[476,   0],
       [  1, 123]], dtype=int64)

In [45]:
pd.crosstab(fraud['TaxableIncome'],fraud['rf_pred'])

rf_pred        Good  Risky
TaxableIncome
Risky             1    123
Good            476      0

In [46]:
accuracy=(476+124)/(476+124+0+0)
accuracy

1.0