# using random forest to create a model on company dataset 
highsales and lowsales

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt 
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

In [2]:
company=pd.read_csv("Company_Data.csv")

In [3]:
company

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,Sales
0,138,73,11,276,120,Bad,42,17,Yes,Yes,9.50
1,111,48,16,260,83,Good,65,10,Yes,Yes,11.22
2,113,35,10,269,80,Medium,59,12,Yes,Yes,10.06
3,117,100,4,466,97,Medium,55,14,Yes,Yes,7.40
4,141,64,3,340,128,Bad,38,13,Yes,No,4.15
...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,Good,33,14,Yes,Yes,12.57
396,139,23,3,37,120,Medium,55,11,No,Yes,6.14
397,162,26,12,368,159,Medium,40,18,Yes,Yes,7.41
398,100,79,7,284,95,Bad,50,12,Yes,Yes,5.94
399,134,37,0,27,120,Good,49,16,Yes,Yes,9.71

In [4]:
company.describe()

,CompPrice,Income,Advertising,Population,Price,Age,Education,Sales
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,124.975000,68.657500,6.635000,264.840000,115.795000,53.322500,13.900000,7.496325
std,15.334512,27.986037,6.650364,147.376436,23.676664,16.200297,2.620528,2.824115
min,77.000000,21.000000,0.000000,10.000000,24.000000,25.000000,10.000000,0.000000
25%,115.000000,42.750000,0.000000,139.000000,100.000000,39.750000,12.000000,5.390000
50%,125.000000,69.000000,5.000000,272.000000,117.000000,54.500000,14.000000,7.490000
75%,135.000000,91.000000,12.000000,398.500000,131.000000,66.000000,16.000000,9.320000
max,175.000000,120.000000,29.000000,509.000000,191.000000,80.000000,18.000000,16.270000

In [5]:
company.isnull().sum()

CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
Sales          0
dtype: int64

In [6]:
company['Sales'] = pd.cut(company.Sales,bins=(0,7.49,16.27),labels=['lowsales','highsales'])
company

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,Sales
0,138,73,11,276,120,Bad,42,17,Yes,Yes,highsales
1,111,48,16,260,83,Good,65,10,Yes,Yes,highsales
2,113,35,10,269,80,Medium,59,12,Yes,Yes,highsales
3,117,100,4,466,97,Medium,55,14,Yes,Yes,lowsales
4,141,64,3,340,128,Bad,38,13,Yes,No,lowsales
...,...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,Good,33,14,Yes,Yes,highsales
396,139,23,3,37,120,Medium,55,11,No,Yes,lowsales
397,162,26,12,368,159,Medium,40,18,Yes,Yes,lowsales
398,100,79,7,284,95,Bad,50,12,Yes,Yes,lowsales
399,134,37,0,27,120,Good,49,16,Yes,Yes,highsales

In [7]:
company=company.drop(company.index[[174]],axis=0).reset_index()
company

,index,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,Sales
0,0,138,73,11,276,120,Bad,42,17,Yes,Yes,highsales
1,1,111,48,16,260,83,Good,65,10,Yes,Yes,highsales
2,2,113,35,10,269,80,Medium,59,12,Yes,Yes,highsales
3,3,117,100,4,466,97,Medium,55,14,Yes,Yes,lowsales
4,4,141,64,3,340,128,Bad,38,13,Yes,No,lowsales
...,...,...,...,...,...,...,...,...,...,...,...,...
394,395,138,108,17,203,128,Good,33,14,Yes,Yes,highsales
395,396,139,23,3,37,120,Medium,55,11,No,Yes,lowsales
396,397,162,26,12,368,159,Medium,40,18,Yes,Yes,lowsales
397,398,100,79,7,284,95,Bad,50,12,Yes,Yes,lowsales
398,399,134,37,0,27,120,Good,49,16,Yes,Yes,highsales

In [8]:
company=company.drop(['index'],axis=1)

In [9]:
company

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US,Sales
0,138,73,11,276,120,Bad,42,17,Yes,Yes,highsales
1,111,48,16,260,83,Good,65,10,Yes,Yes,highsales
2,113,35,10,269,80,Medium,59,12,Yes,Yes,highsales
3,117,100,4,466,97,Medium,55,14,Yes,Yes,lowsales
4,141,64,3,340,128,Bad,38,13,Yes,No,lowsales
...,...,...,...,...,...,...,...,...,...,...,...
394,138,108,17,203,128,Good,33,14,Yes,Yes,highsales
395,139,23,3,37,120,Medium,55,11,No,Yes,lowsales
396,162,26,12,368,159,Medium,40,18,Yes,Yes,lowsales
397,100,79,7,284,95,Bad,50,12,Yes,Yes,lowsales
398,134,37,0,27,120,Good,49,16,Yes,Yes,highsales

In [10]:
x=company.iloc[:,:-1]

In [11]:
y=company.iloc[:,-1]

In [12]:
label_encoder_x=LabelEncoder()

In [13]:
x=x.apply(LabelEncoder().fit_transform)

In [14]:
x.head()

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,49,51,11,141,54,0,17,7,1,1
1,22,27,16,129,18,1,40,0,1,1
2,24,14,10,138,15,2,34,2,1,1
3,28,77,4,249,31,2,30,4,1,1
4,52,42,3,178,62,0,13,3,1,0

In [15]:
x.isnull().sum()

CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

In [16]:
y.isnull().sum()

0

In [17]:
rf = RandomForestClassifier(n_jobs=3,oob_score=True,n_estimators=100,criterion="entropy")
rf

RandomForestClassifier(criterion='entropy', n_jobs=3, oob_score=True)

In [18]:
rf.fit(x,y)

RandomForestClassifier(criterion='entropy', n_jobs=3, oob_score=True)

In [20]:
rf.fit(x,y)

RandomForestClassifier(criterion='entropy', n_jobs=3, oob_score=True)

In [21]:
rf.estimators_

[DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1242124763),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=42657475),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=691552486),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=430436077),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=582712432),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=417434257),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2136150899),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=730606220),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=608888351),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1508501010),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1627172390),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=892375197),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1177054161),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=151712342),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1566758295),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1102384256),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1079803263),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=183546040),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1065701843),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=442100095),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1095704051),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=873642833),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=412100628),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=220130055),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1416270090),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=231374521),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1609471275),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=899871362),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=851323025),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1416587070),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=950903672),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1902521043),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=765594705),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=663100351),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=495767345),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=432838415),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1083398980),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=933181379),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1749996160),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1136165630),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=105131184),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1626748291),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1051270269),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1927862132),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1019226812),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1028625141),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=233609937),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1724600499),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1012935036),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1954626636),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=824425113),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1468529719),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=288588677),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=655449041),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1318559903),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1212981365),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1223364594),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1372704258),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=101045037),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=451794976),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1734848886),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=634050592),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=804500137),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=890005065),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=805274639),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1215886880),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1754701617),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=877780874),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=351546517),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2051592355),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1440983003),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1642431670),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1743066375),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1352580666),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=592098116),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1962828773),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=735477708),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=966097984),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1329235110),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=601963072),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1663284417),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1341338450),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=660505727),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=2026572350),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1761030966),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1989919999),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=458098938),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=767837650),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=909308875),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1068974650),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1513470745),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=787629033),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1218377605),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1524135578),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1156432247),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1940294150),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=791039485),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1729613104),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1493801208),
 DecisionTreeClassifier(criterion='entropy', max_features='auto',
                        random_state=1029643524)]

In [22]:
rf.classes_

array(['highsales', 'lowsales'], dtype=object)

In [23]:
rf.n_classes_

2

In [24]:
rf.n_features_

10

In [25]:
rf.n_outputs_

1

In [26]:
rf.oob_score_

0.7969924812030075

In [27]:
rf.predict(x)

array(['highsales', 'highsales', 'highsales', 'lowsales', 'lowsales',
       'highsales', 'lowsales', 'highsales', 'lowsales', 'lowsales',
       'highsales', 'highsales', 'lowsales', 'highsales', 'highsales',
       'highsales', 'highsales', 'highsales', 'highsales', 'highsales',
       'lowsales', 'highsales', 'lowsales', 'lowsales', 'highsales',
       'highsales', 'highsales', 'lowsales', 'lowsales', 'highsales',
       'highsales', 'highsales', 'lowsales', 'highsales', 'lowsales',
       'highsales', 'highsales', 'lowsales', 'lowsales', 'lowsales',
       'lowsales', 'highsales', 'highsales', 'lowsales', 'lowsales',
       'lowsales', 'highsales', 'lowsales', 'lowsales', 'highsales',
       'lowsales', 'lowsales', 'highsales', 'lowsales', 'lowsales',
       'lowsales', 'highsales', 'lowsales', 'lowsales', 'lowsales',
       'highsales', 'lowsales', 'lowsales', 'highsales', 'highsales',
       'lowsales', 'highsales', 'highsales', 'highsales', 'highsales',
       'highsales', 'lowsales', 'lowsales', 'highsales', 'lowsales',
       'highsales', 'highsales', 'highsales', 'lowsales', 'highsales',
       'highsales', 'highsales', 'highsales', 'lowsales', 'lowsales',
       'highsales', 'highsales', 'highsales', 'lowsales', 'highsales',
       'lowsales', 'lowsales', 'lowsales', 'highsales', 'highsales',
       'lowsales', 'highsales', 'lowsales', 'highsales', 'lowsales',
       'lowsales', 'lowsales', 'lowsales', 'lowsales', 'lowsales',
       'lowsales', 'lowsales', 'highsales', 'lowsales', 'highsales',
       'highsales', 'lowsales', 'lowsales', 'lowsales', 'highsales',
       'highsales', 'lowsales', 'highsales', 'highsales', 'lowsales',
       'lowsales', 'highsales', 'lowsales', 'highsales', 'highsales',
       'highsales', 'highsales', 'lowsales', 'lowsales', 'lowsales',
       'highsales', 'lowsales', 'highsales', 'highsales', 'lowsales',
       'lowsales', 'lowsales', 'lowsales', 'highsales', 'highsales',
       'lowsales', 'lowsales', 'lowsales', 'lowsales', 'highsales',
       'highsales', 'lowsales', 'highsales', 'highsales', 'highsales',
       'highsales', 'highsales', 'highsales', 'lowsales', 'lowsales',
       'highsales', 'lowsales', 'highsales', 'highsales', 'highsales',
       'lowsales', 'lowsales', 'lowsales', 'lowsales', 'highsales',
       'lowsales', 'lowsales', 'lowsales', 'lowsales', 'highsales',
       'highsales', 'highsales', 'highsales', 'lowsales', 'highsales',
       'lowsales', 'highsales', 'highsales', 'highsales', 'lowsales',
       'lowsales', 'lowsales', 'lowsales', 'highsales', 'highsales',
       'highsales', 'lowsales', 'highsales', 'highsales', 'highsales',
       'lowsales', 'highsales', 'highsales', 'lowsales', 'lowsales',
       'lowsales', 'lowsales', 'lowsales', 'lowsales', 'lowsales',
       'lowsales', 'lowsales', 'lowsales', 'highsales', 'lowsales',
       'lowsales', 'highsales', 'highsales', 'lowsales', 'lowsales',
       'highsales', 'highsales', 'highsales', 'lowsales', 'lowsales',
       'lowsales', 'lowsales', 'highsales', 'highsales', 'highsales',
       'lowsales', 'lowsales', 'lowsales', 'lowsales', 'lowsales',
       'highsales', 'highsales', 'lowsales', 'highsales', 'lowsales',
       'highsales', 'highsales', 'highsales', 'highsales', 'lowsales',
       'highsales', 'highsales', 'lowsales', 'lowsales', 'highsales',
       'highsales', 'lowsales', 'highsales', 'highsales', 'highsales',
       'lowsales', 'lowsales', 'lowsales', 'lowsales', 'highsales',
       'lowsales', 'highsales', 'lowsales', 'highsales', 'highsales',
       'lowsales', 'highsales', 'lowsales', 'lowsales', 'highsales',
       'lowsales', 'lowsales', 'highsales', 'lowsales', 'lowsales',
       'highsales', 'lowsales', 'lowsales', 'lowsales', 'highsales',
       'lowsales', 'highsales', 'highsales', 'lowsales', 'lowsales',
       'lowsales', 'highsales', 'lowsales', 'lowsales', 'lowsales',
       'highsales', 'highsales', 'lowsales', 'lowsales', 'highsales',
       'highsales', 'lowsales', 'lowsales', 'highsales', 'highsales',
       'lowsales', 'highsales', 'highsales', 'highsales', 'lowsales',
       'highsales', 'lowsales', 'highsales', 'highsales', 'highsales',
       'lowsales', 'lowsales', 'highsales', 'highsales', 'highsales',
       'lowsales', 'lowsales', 'highsales', 'highsales', 'highsales',
       'lowsales', 'lowsales', 'highsales', 'highsales', 'lowsales',
       'highsales', 'lowsales', 'highsales', 'lowsales', 'lowsales',
       'highsales', 'highsales', 'highsales', 'lowsales', 'highsales',
       'lowsales', 'lowsales', 'lowsales', 'highsales', 'lowsales',
       'highsales', 'lowsales', 'lowsales', 'highsales', 'lowsales',
       'lowsales', 'highsales', 'lowsales', 'highsales', 'highsales',
       'lowsales', 'highsales', 'lowsales', 'highsales', 'lowsales',
       'highsales', 'lowsales', 'highsales', 'highsales', 'highsales',
       'highsales', 'highsales', 'highsales', 'lowsales', 'lowsales',
       'lowsales', 'highsales', 'lowsales', 'lowsales', 'highsales',
       'highsales', 'lowsales', 'highsales', 'highsales', 'lowsales',
       'lowsales', 'highsales', 'highsales', 'highsales', 'highsales',
       'highsales', 'highsales', 'lowsales', 'highsales', 'highsales',
       'highsales', 'lowsales', 'lowsales', 'lowsales', 'highsales',
       'lowsales', 'lowsales', 'highsales', 'highsales', 'lowsales',
       'lowsales', 'highsales', 'highsales', 'highsales', 'lowsales',
       'lowsales', 'lowsales', 'lowsales', 'lowsales', 'highsales',
       'lowsales', 'lowsales', 'lowsales', 'highsales'], dtype=object)

In [28]:
company['rf_pred'] = rf.predict(x)

In [30]:
cols = ['rf_pred','Sales']
cols

['rf_pred', 'Sales']

In [31]:
company[cols].head()

     rf_pred      Sales
0  highsales  highsales
1  highsales  highsales
2  highsales  highsales
3   lowsales   lowsales
4   lowsales   lowsales

In [32]:
company['Sales']

0      highsales
1      highsales
2      highsales
3       lowsales
4       lowsales
         ...
394    highsales
395     lowsales
396     lowsales
397     lowsales
398    highsales
Name: Sales, Length: 399, dtype: category
Categories (2, object): [lowsales < highsales]

In [33]:
from sklearn.metrics import confusion_matrix
confusion_matrix(company['Sales'],company['rf_pred'])

array([[199,   0],
       [  0, 200]], dtype=int64)

In [34]:
pd.crosstab(company['Sales'],company['rf_pred'])

rf_pred    highsales  lowsales
Sales
lowsales           0       200
highsales        199         0

In [35]:
accuracy=(476+124)/(476+124+0+0)
accuracy

1.0